.bg {
    background: linear-gradient(purple,white);
    background-size: 100% 200%;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    /*align-items: center;*/
    /*align-content: center;*/
    margin-top: 2.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    /*margin-bottom: 25%;*/

}