<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:replace="base :: SecurityHead"></th:block>

    <title>Login page</title>
</head>
<body>
<th:block th:replace="base :: SecurityNav"></th:block>

<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <lable>User name: <input type="text" name="username"/></lable>
        </div>
        <div>
            <lable>Password: <input type="text" name="password"/></lable>
        </div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>
<th:block th:replace="base :: SecurityJS"></th:block>

</body>
</html>