<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: SecurityHead"></th:block>

    <title>Secure page</title>
</head>
<body class="bg">
<th:block th:replace="base :: SecurityNav"></th:block>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-10">
            <h3>Secure page</h3>
            <a href="/logout">Log out</a>
        </div>
    </div>
</div>
<th:block th:replace="base :: SecurityJS"></th:block>
</body>
</html>
